$title-color: #000000;
$sidebar-text-color: #9197b3;
$tablehead-text-color: #b5b7c0;
$table-text-color: #292d32;
$pagination-text-color: #404b52;

$primary-bg-color: #f9fbff;
$sidebar-bg-color: #fff;

$accent-color: #16c098;
$active-color: #5932ea;
$active-text-color: #fff;

$active-status-color: #16c09861;
$active-status-border-color: #00b087;
$inactive-status-color: #ffc5c5;
$inactive-status-border-color: #df0404;